# Compiled class files

*.class

# Logs

*.log

# BlueJ files

*.ctxt

# Package files

*.jar
*.war
*.nar
*.ear

# Virtual machine crash logs

hs_err_pid*

# IDE folders

.vscode/
.idea/
*.iml

# OS files

.DS_Store
Thumbs.db

# Build folders

/bin/
/out/
/build/

# Eclipse files

.project
.classpath
.settings/

# IntelliJ files

*.ipr
*.iws

# Mac system files

.AppleDouble
.LSOverride
